# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
*.trx

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pfx
*.publishsettings
appsettings.*.local.json
